# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env*

# Generated
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map
doc/api/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies
.metadata
